[submodule "projects/lib/BOSL2"]
	path = projects/lib/BOSL2
	url = https://github.com/BelfrySCAD/BOSL2
[submodule "util/stl-render-tool"]
	path = util/stl-render-tool
	url = https://github.com/TheZingo/stl-render-tool

[submodule "projects/wall-outlet-rj45/lib/RJ45KeystoneReceiver"]
	path = projects/wall-outlet-rj45/lib/RJ45KeystoneReceiver
	url = https://github.com/marcuswu/RJ45KeystoneReceiver/
